a{
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}


button{
  background-color: rgb(247, 169, 113);
  color:black;
  font-size: 15px;
  border-radius: 6px;
  padding: 5px 5px;
  border: none;
  margin-top: 10px;
}

.books{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  border: 2px solid black;
  height: 820px;
  width: 1300px;
  align-content: center;
  background-color: rgb(175, 5, 8);
}

.wishlist{
  
  background-color: rgb(245, 148, 144);
  color:black;
  font-size: 15px;
  border-radius: 6px;
  padding: 5px 5px;
  border: none;
  margin: 5px 48px;
  
}

header{
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1533669955142-6a73332af4db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1439&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  
}

header h1{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 75px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  padding: 80px 0;
  color: rgb(175, 5, 8);
  background-color: rgba(255, 255, 255, 0.31);
  text-shadow: 4px 1px black;
  height:250px;
}

main{
  padding-top: 1px;
  margin: 0;
  height: 100vh;
  background-color:rgb(225, 225, 205);
}

.Home{
  display: flex;
  justify-content: center;
   align-content: center;
  background-color: rgb(175, 5, 8); 
  margin: 0;
  padding: 5px;
}
a .Home{
  display: flex;
  margin: 2px auto;

}


form{
  display: flex;
  justify-content: center;
}

input{
  padding: 5px 5px;
  margin: 12px 10px;
  text-align: center;
}

.results{
  align-content: center;
  width: 180px;
  margin: 5px auto;
  
}

.results h2{
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;

}

.imgRes{
  padding-left: 35px;
  height: 135px;
  
}

.showTitle{
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;

}

.showAuth{
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

.showImg{
  height:250px;
  padding-right: 15px;
}

footer{
  display:flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(175, 5, 8);
  height: 50px;
  width: 100vw;
  padding-top: 1px;
  padding-bottom: 15px;
  margin: 0;
}

footer h1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 10px auto;
  color: black;

}

footer img{
  padding: 0 20px;
}


@media only screen and (max-width: 1024px) {

  .books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 9px auto;
    border: 2px solid black;
    height: 1229px;
    width: 770px;
    align-content: center;
    background-color: rgb(175, 5, 8);

  }
  footer{
   position: absolute;
    width: 100%;
   

}
main{
  padding: 0;
}
  .imgRes{
    padding-left: 35px;
    height: 119px;
  
}
  input{
   padding: 10px 25px;
   margin: 15px 10px;
   text-align: center;
}
  button{
  
  
  font-size: 25px;
  border-radius: 6px;
  padding: 10px 20px;
  border: none;
  margin-top: 15px;
}
.Home{
  padding: 14px;
  font-size: 25px;
}
 
 
 .showAuth{
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: -25px;
}

.showImg{
  height:550px;
  margin: 0 55px;
}
.showWishlist{
  padding: 15px;
  margin: 10px 85px;
}
.showTitle{
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: -150px;

}
input{
  font-size: 25px;
}

  

}
@media only screen and (max-width: 375px) {

  header{
    width: 100vw;
    height:275px;
 
  }
  header h1{
    padding: 55px 0;
  }
  main{
    padding-top: 0;
    height: 2000px;
  }
  .books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    border: 2px solid black;
    height: 1800px;
    width: 310px;
    align-content: center;
    background-color: rgb(175, 5, 8);

  }
  footer{
    position: absolute;
    height: 50px;
    width: 100vw;
    
  }
  footer h4{
    margin: 5px;
    padding: 5px;
  }
  a .Home{
  display: flex;
  margin: 2px auto;

}
  .search-results{
    height: 1800px;
  }
  .results{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 120px;
    height: 150px;
    padding: 5px;
  }
  
 
  
  .results h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
  }
  .imgRes{
    display:flex;
    align-content: space-around;
    margin-top: 15px;
    padding: 0;
    height: 85px;
    
  }
  .wishlist{
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top:-18px;
    margin-bottom: 0px;
    font-size: 9px;
    
    
    
  }

  .showTitle{
    font-size: 27px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: -880px;
  
  }
  
  .showAuth{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: -25px;
  }
  
  .showImg{
    height:350px;
    margin: 0 35px;
  }
  .showWishlist{
    padding: 15px;
    margin: 10px 105px;
  }
  input{
    font-size: 12px;
  }
  button{
    font-size: 25px;
    border-radius: 6px;
    padding: 5px 10px;
    border: none;
    margin-top: 15px;
  }


}
